/* app css stylesheet */
body {
    overflow: hidden;
    background-image: url(../img/grayTriangles.gif);
    background-repeat: repeat;
    font-family: 'Orbitron', sans-serif;
    color:rgba(200,200,200,0.8);
    text-align: center;
}
/* GAMEBOARD */
#gameboard, h1, #controls {text-align: center; }
#counter {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 81, 78,0.6);
    width: 30px;
    height: 30px;
    line-height: 30px;
}
#grid {width:730px; display:inline-block; margin:0; padding:0;}
#grid li {display:inline;}
.tile {
    display: inline-block;
    width: 115px;
    height: 115px;
    line-height: 40px;
    margin: 10px;
    background-color: rgba(255,252,196,0.1);
    text-align: center;
    border-radius: 8px;
    border: 1px #888 solid;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transform: translate3d(0,0,0);
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.memory {
    background-color: rgba(218,55,58,0.4);
}
.selected {
    border: 1px #333 solid;
    -webkit-transform: rotate3d(1,1,0,180deg);
    -moz-transform: rotate3d(1,1,0,180deg);
    transform: rotate3d(1,1,0,180deg);
}
.tile.fadeOut {
    background-color: rgba(255,252,196,0.1);
}


/* INTRO */
hr {
    margin-bottom:40px;
    border-color: #888;
}
#intro ol {
    width: 280px;
    margin: auto;
    font-size: 120%;
    text-align: left;
}
#intro li {
    margin-bottom: 20px;
    color: #fff;
}
#intro button {
    margin: 20px;
    color: #fff;
}
#intro .small {
    font-size: 80%;
    color: #000;
}

/* MODAL */
/* Adapted from Adam Albrecht: http://adamalbrecht.com/2013/12/12/creating-a-simple-modal-dialog-directive-in-angular-js/ */

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:-9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0;
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.ng-modal.modalClass .ng-modal-overlay{
    opacity: 0.8;
    z-index:9999;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:-10000;
    position: absolute;
    width: 100%;
    height:60%;
    opacity:0;

    /* Center the dialog on bottom */
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: rgba(222,222,222,1);
    box-shadow: 4px 4px 80px #000;

    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}
.ng-modal.modalClass .ng-modal-dialog {
    bottom: -30%;
    z-index:10000;
    opacity:1;
 }
.ng-modal-dialog-content {
    padding:10px;
}
.ng-modal-dialog-content h2 {
    font-size: 300%;
    color:#888;
}
.ng-modal-dialog-content button {
    color:#fff;
}
.ng-modal-dialog-content a {
    text-decoration:none;
    color:#888;
    font-size: 120%;
    display: block;
    margin-top:40px;
}


/* PHONE DEVICES - PORTRAIT */
@media screen and (max-width:330px) and (min-height:330px) {
    #grid {width:286px; display:inline-block; margin:0; padding:0;}
    .tile {
        width: 30px;
        height: 30px;
        line-height: 20px;
        padding: 10px 5px 0;
        margin: 5px;
    }
    .ng-modal-dialog {
        bottom: -120%;
        height: 75%;
    }
    .ng-modal.modalClass .ng-modal-dialog {
        bottom: -40%;
    }
    #counter {
        top: 4px;
        right: 4px;
    }
}
/* PHONE DEVICES - LANDSCAPE */
@media screen and (min-width:330px) and (max-height:730px) {
    #grid {width:286px; display:inline-block; margin:0; padding:0;}
    .tile {
        width: 30px;
        height: 30px;
        line-height: 20px;
        padding: 10px 5px 0;
        margin: 5px;
    }
    .ng-modal-dialog {
        bottom: -155%;
        height: 100%;
    }
    .ng-modal.modalClass .ng-modal-dialog {
        bottom: -50%;
    }
    h1 {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    #counter { top:12px; }
}
/* TABLET DEVICES - PORTRAIT */
@media screen and (max-width:770px) and (min-height:770px) {
    #grid {width:730px; display:inline-block; margin:0; padding:0;}
    .tile {
        line-height: 40px;
        margin: 10px;
    }
    .ng-modal-dialog {
        height:45%;
    }
    .ng-modal.modalClass .ng-modal-dialog {
        bottom: -30%;
    }
}
/* TABLET DEVICES - LANDSCAPE */
@media screen and (min-width:770px) and (max-height:770px) {
    h1 { margin: 10px; }
    #grid {width:730px; display:inline-block; margin:0; padding:0;}
    .tile {
        line-height: 40px;
        margin: 10px;
    }
    .ng-modal.modalClass .ng-modal-dialog {
        bottom: -45%;
    }
}