
<div id="gameboard">
    <div id="counter" class="topcoat-notification">{{(numMemoryTiles - numSelected)}}</div>
    <ul id="grid">
        <li ng-repeat="tile in tiles | orderBy: 'id'">
            <div class="tile"
                 ng-class="{ memory: tile.memoryTile, selected: tile.selected, fadeOut: fadeMemoryTiles }"
                 ng-click="select(tile, $event)">
                {{tile.id}}
            </div>
        </li>
    </ul>
</div>

<modal-dialog ng-class="{modalClass: modalShown}">
    <h2>{{modalMessage}}</h2>
    <br>
    <button ng-click="toggleModal(); reset();" class="topcoat-button--large">Start New Game</button>
    <br>
    <a href="#/intro">Help</a>
</modal-dialog>