
<div id="intro">
    <hr>
    <h2>How to Play</h2>
    <ol>
        <li>At the beginning of the game you will see several highlighted tiles.</li>
        <li>Take note of where the tiles are before they disappear.</li>
        <li>Find the highlighted tiles without touching any of the other tiles.</li>
    </ol>
    <button ng-click="go('/game');" class="topcoat-button--large">Start Game</button>

    <div class="small">Memory App: v<span app-version></span></div>
</div>