<div class="ng-modal">
    <div class="ng-modal-overlay" ng-click="hideModal(); startGame();"></div>
    <div class="ng-modal-dialog">
        <div class="ng-modal-dialog-content" ng-transclude></div>
    </div>
</div>